<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VLogee</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet" />
    <!-- <link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/themes/semantic/bootstrap-table-semantic.min.css" />
    <style>
      .detail-view {
        background: beige;
      }
      .detail-view p {
        margin: 0 0 10px 0;
      }
      .detail-view pre {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">VLogee</div>
        <div class="list-group list-group-flush">
          <% for(var i=0; i < logs.length; i++) { %>
          <a href="#" data-src="<%= logs[i] %>" class="log-item list-group-item list-group-item-action bg-light"><%= logs[i] %></a>
          <% } %>
        </div>
      </div>

      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

        <div id="ui-route" class="container-fluid">
          <h1 class="mt-4">Welcome</h1>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.4/jsrender.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/themes/semantic/bootstrap-table-semantic.min.js"></script>

    <script>
      $('#menu-toggle').click(function(e) {
        e.preventDefault();
        $('#wrapper').toggleClass('toggled');
      });

      $('.log-item').click(function(e) {
        e.preventDefault();

        var columns = ['level', 'version', 'timestamp', 'correlationId', 'message'];

        var log = e.target.dataset.src;
        var html = `
          <table
            id="table"
            data-toggle="table"
            data-search="true"
            data-detail-view="true"
            data-detail-view-icon="false"
            data-detail-view-by-click="true"
            data-detail-formatter="detailFormatter"
            data-url="${'/logs/' + log}">
            <thead>
              <tr>
                <th data-sortable="true" data-field="level" data-width="5" data-width-unit="%">level</th>
                <th data-sortable="true" data-field="version" data-width="5" data-width-unit="%">version</th>
                <th data-sortable="true" data-field="timestamp" data-width="15" data-width-unit="%">timestamp</th>
                <th data-sortable="true" data-field="correlationId" data-width="25" data-width-unit="%">correlationId</th>
                <th data-sortable="true" data-field="message" data-escape="true" data-width="50" data-width-unit="%">message</th>
              </tr>
            </thead>
          </table>
        `;

        $('#ui-route').html(html);
        var $table = $('#table');
        $table.bootstrapTable();
      });

      function detailFormatter(index, row) {
        var html = [];
        $.each(row, function(key, value) {
          var val = value;
          if (typeof value === 'object') {
            val = '<pre>' + JSON.stringify(value, null, 2) + '</pre>';
          }
          html.push('<p><b>' + key + ':</b> ' + val + '</p>');
        });
        return `<div style="width:100%;overflow:auto">${html.join('')}</div>`;
      }
    </script>
  </body>
</html>
